.dropdown {
    background: white;
    padding: 10px;
    display: inline-block;
    min-width: 100px;
}

.dropdown > ul{
    margin:0px;
    padding:0px;
}

.dropdown > ul li {
    list-style: none;
}
