.gallery {
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
    height: 500px;
}

.gallery .zoom {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.gallery .thumbnails {
    display: flex;
    justify-content: space-between;
    margin-top:10px
}

.gallery .thumbnails >div {
    width: 100px;
    overflow: hidden;
    cursor: pointer;
}

.gallery .thumbnails > div img{
    width: 100%;
    height: 80px;
}
